<div [ngClass]="!isLoaded ? 'h-screen' : 'h-full'">
  <div
    class="flex flex-row flex-wrap gap-5 w-10/12 mx-auto justify-start"
    *ngIf="isLoaded && showAll"
  >
    <ng-container *ngIf="isLoaded && showAll">
      <app-product-card
        *ngFor="let product of products"
        [data]="product"
        [fromProfile]="false"
      ></app-product-card>
    </ng-container>
  </div>
  <div
    class="flex flex-row flex-wrap gap-5 w-10/12 mx-auto justify-start"
    *ngIf="isLoaded && !showAll"
  >
    <ng-container *ngIf="isLoaded && !showAll">
      <app-product-card
        *ngFor="let product of searchedProducts"
        [data]="product"
        [fromProfile]="false"
      ></app-product-card>
    </ng-container>
  </div>
</div>
